---
import Logo from "@/components/Logo";
import menu from "@/config/menu.json";


export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;

import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'
import { ThemeToggle } from "@/components/theme-toggle";
import { cn } from "@/lib/utils";
import LocaleSelect from "@/components/i18n/LocaleSelect";
import { Image } from "astro:assets";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";



const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/images/logo/desci-ar.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
  getRelativeLocaleUrl(locale, path) === Astro.url.pathname;

console.log("Current language:", locale);


// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/danielcgilibert/blog-template',
		icon: GithubIcon
	},

	{
		name: 'Twitter',
		url: 'https://github.com/danielcgilibert/blog-template',
		icon: TwitterIcon
	}
]

type Props = {
  className?: string;
};

const { className } = Astro.props;
import { motion, AnimatePresence } from "framer-motion";
/* 
import { TailcastLogo } from "../assets/logos/TailcastLogo"; */

---

<!-- <header class="header pt-6"> -->

  <header  class="w-full flex flex-col  items-center fixed bg-bgDark1 bg-bgDarkTransparent z-40 backdrop-blur-xl"
  aria-label="Main navigation">
  <nav class="navbar container  ">

    <!-- logo -->
    <div class="order-0">
      <a class='mr-6 flex items-center space-x-2 gap-2  font-bold' href={getRelativeLocaleUrl(locale, "/")}>
        <Image src={AstroImage} alt="22"  class="h-20 w-48 px-10 logo-descilatam" />
      <!-- <TailcastLogo  />  -->
        </a>
      
    </div>
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      id="show-button"
      for="nav-toggle"
      class="order-2 flex cursor-pointer items-center text-current fill-current md:order-1 md:hidden"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
    </label>
    <label
      id="hide-button"
      for="nav-toggle"
      class="order-2 hidden cursor-pointer items-center text-current md:order-1"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>
    <!-- /navbar toggler -->

    <ul
      id="nav-menu"
      class="navbar-nav order-3 hidden w-full md:order-1 md:flex md:w-auto "
    >

         
       

          <li class="nav-item">

            <li class="nav-item nav-dropdown group relative cursor-pointer">
              <span class="nav-link inline-flex items-center">
                {t({ es: "Sobre", en: "About", "pt": "Sobre"})}
                <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </span>
              <ul class="nav-dropdown-list hidden group-hover:block md:invisible md:absolute md:block md:opacity-0 md:group-hover:visible md:group-hover:opacity-100 dark:bg-black">
      
                <li class="nav-dropdown-item">
                  <a
      href={getRelativeLocaleUrl(locale, "#speakers")}
      class="nav-dropdown-link active" >
      {t({ es: "DeSci Argentina", en: "DeSci Argentina", "pt": "DeSci Argentina"})}
      </a>
                </li>

                  <li class="nav-dropdown-item">
                    <a
        href={getRelativeLocaleUrl(locale, "#p")}
        class="nav-dropdown-link active" >
        {t({ es: "DeSci DAY", en: "Changelog", "pt": "Changelog"})}
        </a>
                  </li>
                  <li class="nav-dropdown-item">
                    <a
        href={getRelativeLocaleUrl(locale, "#Speakers")}
        class="nav-dropdown-link active" >
        {t({ es: "Batalla de Pitch", en: "Changelog", "pt": "Changelog"})}
        </a>
                  </li>
                  <li class="nav-dropdown-item">
                    <a
        href={getRelativeLocaleUrl(locale, "#Speakers")}
        class="nav-dropdown-link active" >
        {t({ es: "Crecimiento", en: "Crecimiento", "pt": "Crecimiento"})}
        </a>
                  </li>

                  <a
                  href={getRelativeLocaleUrl(locale, "#Speakers")}
                  class="nav-dropdown-link active" >
                  {t({ es: "Aleph", en: "Aleph", "pt": "Aleph"})}
                  </a>
                            </li>
                
              </ul>
            </li> 


                      <li class="nav-item nav-dropdown group relative cursor-pointer">
                        <span class="nav-link inline-flex items-center">
                          {t({ es: "Sé Parte", en: "Se parte", "pt": "Se parte"})}
                          <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                          </svg>
                        </span>
                        <ul class="nav-dropdown-list hidden group-hover:block md:invisible md:absolute md:block md:opacity-0 md:group-hover:visible md:group-hover:opacity-100 dark:bg-black">
                
                            <li class="nav-dropdown-item">
                              <a
                  href={getRelativeLocaleUrl(locale, "#Speakers")}
                  class="nav-dropdown-link active" >
                  {t({ es: "Sponsor", en: "Changelog", "pt": "Changelog"})}
                  </a>
                            </li>

                            <li class="nav-dropdown-item">
                              <a
                  href={getRelativeLocaleUrl(locale, "#Speakers")}
                  class="nav-dropdown-link active" >
                  {t({ es: "Speaker ", en: "Changelog", "pt": "Changelog"})}
                  </a>
                            </li>

                            <li class="nav-dropdown-item">
                              <a
                  href="/es/agenda/"
                  class="nav-dropdown-link active" >
                  {t({ es: "Voluntario ", en: "Changelog", "pt": "Changelog"})}
                  </a>
                            </li>
                          
                        </ul>
                      </li> 

                      <li class="nav-item">


            
                        <a
                              
                              href="#agenda"
                              class={isActive("#Speakers") ? " font-medium nav-link block  " : "nav-link block"}
                              >
                              {t({ es: "Agenda", en: "Event", "pt": "AgendaPT"})}
                              </a>
                        
                                   
                                  </li>

          <li class="nav-item">


            
<a
			href={getRelativeLocaleUrl(locale, "#Speakers")}
      class={isActive("#Speakers") ? " font-medium nav-link block  " : "nav-link block"}
		  >
			{t({ es: "Contacto", en: "Event", "pt": "Event"})}
		  </a>

           
          </li>

        
 


    <!--   {
        main.map((menu) => (
          <>
            {menu.hasChildren ? (
              <li class="nav-item nav-dropdown group relative cursor-pointer">
                <span class="nav-link inline-flex items-center">
                  {menu.name}
                  <svg class="h-5 w-5 fill-current" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </span>
                <ul class="nav-dropdown-list hidden group-hover:block md:invisible md:absolute md:block md:opacity-0 md:group-hover:visible md:group-hover:opacity-100">
                  {menu.children?.map((child) => (
                    <li class="nav-dropdown-item">
                      <a href={child.url} class="nav-dropdown-link">
                        {child.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </li>
            ) : (
              <li class="nav-item">
                <a href={menu.url} class="nav-link block">
                  {menu.name}
                </a>
              </li>
            )}
          </>
        ))
      } -->
      
    </ul>
    <div class="order-1 ml-auto flex gap-2 items-center md:order-2 md:ml-0">
    <!--   <Search />
      <ThemeToggle client:load /> -->
      <a class="gap-2 rounded-3xl px-4 py-1 bg-[#F1B749] text-black hover:text-white cursor-pointer">Become Sponsor</a>
		<LocaleSelect />
  
   <!--    <a
        class="mr-4 inline-block cursor-pointer p-2 text-xl text-dark transition hover:text-primary md:mr-0"
        href="/search"
        title="seach"
        aria-label="seach"
      >

   
         <IoSearch />
      </a> -->
    </div>
  </nav>
</header>

<style>
.logo-descilatam {
  color: currentColor;
}
</style>